/*
 * book.css
 * 
 * CSS of Booky - framework for printed media
 * 
 * Author: Dawid Dziurdzia – 2012
 */
 
html {
  height: 100%;
  overflow: -o-paged-x;
}

@page {
     size : 210mm 291mm; //A4
   margin : 25.4mm;
  orphans : 2;
   widows : 3;
}

@page :first{
  margin : 25.4mm;
  margin-top: 100mm;
  @bottom-right {
    content: none;
  }
}
@page :left{
  margin-right: 34mm;
  @bottom-left {
    content: counter(page);
  }
}
@page :right{
  margin-left: 34mm;
  @bottom-right {
    content: counter(page);
  }
}

* {
  line-height: 100%;
}
body{
  font-family:Palatino, Georgia, "Times New Roman", Times, serif;
  font-size: 14pt;
  color : #000000;
  background : #ffffff;
  text-align:justify;
  /* counters */
  counter-reset: figures;
  counter-reset: tables;
}
body a {
  color: #222;
  text-decoration : underline;
}
body p {
    line-height: 1.6rem;
    margin:.5em 0 1em 0;
}
body img {
    image-resolution: from-image;
}

h1 {
 page-break-before : always;
}

div>h1:first-of-type{
  page-break-before : avoid;
}
h1,h2,h3,h4,h5,h6 {
  page-break-after : avoid;
  margin-top: 1em;
}

div.blank{
  page-break-after : always;
}

div.title{
  page-break-after : always;
  text-align:center;
}

div.title h1{
  font-size:50pt;
}
div.title .author{
  text-align:right;
  font-style:italic;
  font-size: 30pt;
}

/* columns */
.column-span{
  column-span:all;
}
.columns{
  column-gap: 2em;
}
.wide.columns{
  column-gap: 4em;
}
.medium.columns{
  column-gap: 2em;
}
.narrow.columns{
  column-gap: 1em;
}
.divided.columns{
  column-rule:solid 1pt #000;
}
.two.columns{
  column-count: 2;
}
.three.columns{
  column-count: 3;
}
.four.columns{
  column-count: 4;
}
.five.columns{
  column-count: 5;
}
.six.columns{
  column-count: 6;
}

/* tables */
table {
  border-collapse: collapse;
}
table, td {
  border: 1px solid #a1a1a1;
}
th {
  background: #ddd;
  color: black;
  border: 1px solid #444;
}
th, td {
  padding: 10px;
  page-break-before: avoid;
  page-break-after: avoid;
}

/* code */
pre>code {
  display: block;
  background: transparent;
  border-left:4px solid #ccc;
  color: black;
  width: 65%;
  font-family: Monaco,Courier,monospaced;
  font-size: 14px;
  padding: 10px;
  page-break-before: avoid;
  page-break-after: avoid;
}

/* effects */
.shadow {
  /*text-shadow: .07em .07em rgba(0,0,0,.5);*/
}

/* captions */
figcaption {
  counter-increment: figures;
  page-break-before: avoid;
}
figcaption::before {
  content: "Fig. : ";
  content: "Fig. " counters(figures, "") ": ";
  font-style: italic;
  page-break-before: avoid;
  page-break-after: avoid;
}
figure *:first-child {
  margin: 0 auto;
  text-align: left;
  page-break-before: avoid;
  page-break-after: avoid;
}
figure>img {
  display: block;
  padding: 2px;
  border: 1px solid #a1a1a1;
}
figure {
  text-align: center;
  padding: 1em 0 0.5em 0;
  page-break-after: avoid;
}
figcaption {
  font-style:italic;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  display: inline-block;
  font-size: smaller;
}