/*
 * book.css
 *
 * CSS of Booky - framework for printed media
 *
 * Author: Dawid Dziurdzia – 2012
 */

@charset "UTF-8";

html {
  height: 100%;

}

@page {
     size : A4 portrait; /* A4 */
   margin : 25.4mm;
  orphans : 2;
   widows : 3;
}

@page :first{
  margin : 25.4mm;
  margin-top: 100mm;
  @bottom-right {
    content: none;
  }
}
@page :left{
  margin : 25.4mm;
  margin-right: 34mm;
  @top-left {
    content: counter(page);
  }
}
@page :right{
  margin : 25.4mm;
  margin-left: 34mm;
  @top-right {
    content: counter(page);
  }
}

* {
  line-height: 100%;
}

body{
  font-family:Palatino, Georgia, "Times New Roman", Times, serif;
  font-size: 14pt;
  color : #000000;
  background : #ffffff;
  text-align:justify;
  /* counters */
  counter-reset: figures;
  counter-reset: tables;
  counter-reset: codes;
  hyphens: auto
}

.donthyphenate {
  hyphens: manual;
}

body a {
  color: #222;
  text-decoration : underline;
}
body p {
    line-height: 1.6rem;
    margin:.5em 0 .5em 0;
}
body img {
    image-resolution: from-image;
}

h1 {
 page-break-before : always;
}

div>h1:first-of-type{
  page-break-before : avoid;
}
h1,h2,h3,h4,h5,h6 {
  page-break-after : avoid;
  margin-top: 1em;
  margin-bottom:.2em;
}

div.blank{
  page-break-after : always;
  page-break-before : always;
}

div.title{
  page-break-after : always;
  text-align:center;
}

div.title h1{
  font-size:50pt;
}
div.title .author{
  text-align:right;
  font-style:italic;
  font-size: 30pt;
}

/* columns */
.column-span{
  column-span:all;
}
.columns{
  column-gap: 2em;
}
.wide.columns{
  column-gap: 4em;
}
.medium.columns{
  column-gap: 2em;
}
.narrow.columns{
  column-gap: 1em;
}
.divided.columns{
  column-rule:solid 1pt #000;
  column-rule:solid 1pt device-cmyk(0,0,0,0.1);
}
.two.columns{
  column-count: 2;
}
.three.columns{
  column-count: 3;
}
.four.columns{
  column-count: 4;
}
.five.columns{
  column-count: 5;
}
.six.columns{
  column-count: 6;
}

/* tables */
table {
  border-collapse: collapse;
}
table, td {
  border: 1pt solid #a1a1a1;
}
th {
  background: #ddd;
  color: black;
  border: 1pt solid #444;
}
th, td {
  padding: 10pt;
  page-break-before: avoid;
  page-break-after: avoid;
}

/* code */
pre>code {
  display: block;
  background: transparent;
  background: device-cmyk(0, 0, 0, 0);
  border: solid RGBA(0, 0, 0, 0.1);
  border: solid device-cmyk(0, 0, 0, 0.1);
  border-width:1pt 1pt 1pt 4pt;
  color: black;
  width: 65%;
  font-family: Monaco,Courier,monospaced;
  font-size: 14px;
  padding: 10px;
  page-break-before: avoid;
  page-break-after: avoid;
}

/* figures */
figure {
  text-align: center;
  padding: 1em 0 0.5em 0;
  page-break-before: avoid;
  counter-increment: figures;
}

figure.table{
  counter-increment: tables;
}
figure.code{
  counter-increment: codes;
}

figcaption {
  font-style:italic;
  padding: 5pt;
  margin-top: 8pt;
  display: inline-block;
  font-size: smaller;
  page-break-before: avoid;
}

figcaption::before {
  content: "Fig. : ";
  content: "Fig. " counters(figures, "") ": ";
  font-style: italic;
  page-break-before: avoid;
}
figure.table figcaption::before {
  content: "Tab. : ";
  content: "Tab. " counters(tables, "") ": ";
  font-style: italic;
  page-break-before: avoid;
}
figure.code figcaption::before {
  content: "Code: ";
  content: "Code " counters(codes, "") ": ";
  font-style: italic;
  page-break-before: avoid;
}

figure *:first-child {
  margin: 0 auto;
  text-align: left;
  page-break-before: avoid;
}
figure>img {
  display: block;
  padding: 2pt;
  border: 1pt solid #a1a1a1;
}
